@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f7fa;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
  height: 200px;
  background: linear-gradient(135deg, #39b9dcbe, #0c528fc1);
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  overflow: hidden;
  overflow-x: hidden;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 2;
}

.cloud {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
}

.little-cloud {
  top: 25%;
  box-shadow: 30px 0 0 0 #ffffff, 60px 0 0 0 #ffffff, inset 90px 0 0 0 #ffffff;
  opacity: 0.35;
  animation: cloudLTR 20s linear infinite;
}

.big-cloud {
  top: 65%;
  box-shadow: 30px 0 0 0 #ffffff, 60px 0 0 0 #ffffff, 90px 0 0 0 #ffffff;
  opacity: 0.85;
  animation: cloudLTR 50s linear infinite;
}

@keyframes cloudLTR {
  0% {
    left: 0%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

@keyframes bigCloudMoves {
  0% {
    left: 0%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}

#forecast-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90%;
  max-width: 1200px;
}

.weekly-weather-container {
  background-color: #ffffff;
  border: 1px solid #dfe4ea;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  width: 100%;
}

.weekly-weather-container .daily-weather-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

button {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.add-week-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-week-button {
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  padding: 0.75rem 1.5rem;
  background-color: #4d89c6a9;
  color: rgb(239, 239, 239);
}

.add-week-button:hover {
  background-color: #2980b9;
  color: white;
  transform: scale(1.05);
}

.add-week-button:active {
  background-color: #1c658c;
  transform: scale(0.98);
  color: white;
}

.delete-week-button {
  border: 1px solid #cc372a;
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: #cc372a;
}

.delete-week-button:hover {
  background-color: #cc372a;
  color: white;
  cursor: pointer;
}

.delete-week-button:active {
  background-color: #922b21;
}

.daily-forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background-color: #d6e9f95b;
  border-radius: 8px;
  padding: 1rem;
  max-width: 300px;
  height: auto;
}

.daily-forecast-card main {
  padding-top: 0.75rem;
}

.daily-forecast-card h3 {
  font-size: 1rem;
  margin: 0.25rem 0;
}

.daily-forecast-card p,
ul,
li {
  font-size: 0.75rem;
}

.daily-forecast-card ul {
  padding-left: 1rem;
}

.daily-forecast-card p {
  margin: 0.25rem 0;
}

.daily-forecast-card p span {
  font-weight: bold;
  padding: 0.4rem 0.2rem 0.4rem 0rem;
  border-radius: 4px;
}

.week-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.avg-temperature {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 1rem;
}

/* Media Query for medium screens */
@media (min-width: 768px) and (max-width: 1200px) {
  .weekly-weather-container {
    max-width: 1100px;
  }
}

/* Media Query for large screens */
@media (min-width: 1201px) {
  .weekly-weather-container {
    max-width: 1280px;
  }
}
