@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f7fa;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  font-weight: 500;
  color: #2c3e50;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

#forecast-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.weekly-weather-container {
  background-color: #ffffff;
  border: 1px solid #dfe4ea;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0.25rem 2rem 0.25em 2rem;
}

.weekly-weather-container h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.daily-forecast-card {
  display: flex;
  flex-direction: column;
  background-color: #eaf2f8;
  border: 1px solid #c5d9e8;
  border-radius: 8px;
  text-align: left;
  padding: 0.5rem 1.5rem;
}

.daily-forecast-card h3 {
  font-size: 1rem;
  margin: 10px 0px 5px 0px;
  color: #34495e;
}

.daily-forecast-card p,
ul,
li {
  font-size: 0.75rem;
}

.daily-forecast-card ul {
  padding-left: 1rem;
}

button {
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.add-week-button {
  background-color: #3498db;
}

.add-week-button:hover {
  background-color: #2980b9;
}

.add-week-button:active {
  background-color: #1c658c;
}

.delete-week-button {
  background-color: #bf5648;
  align-self: center;
}

.delete-week-button:hover {
  background-color: #a93226;
}

.delete-week-button:active {
  background-color: #922b21;
}

.weekly-weather-container div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.daily-forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avg-temperature {
  font-size: 1rem;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 6px;
  padding: 10px;
  margin: 0;
}
